  body {
      margin: 0;
  }

  #menu {
      width: 100%;
      height: 100px;
      background-color: #1db3ff;
      padding: 0;

  }



  .menu-links {
      font-family: 'Bungee Inline', cursive;
      font-size: 2vw;
      text-align: center;
      width: 15%;
      margin-left: 2%;
      margin-right: 2%;
      position: relative;
      display: inline-block;
      top: 0%;
      color: black;
      padding: 0;

  }


  a {
      text-decoration: none;
      color: black;
  }

  a:hover {
      color: #fe4300;


  }

  #home {
      font-size: 30px;
      width: 5%;
  }

  #takeApart-photo {

      background-image: url(gif.gif);
      top: -10px;
  }

  #takeApart-list {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      top: -10px;
      height: 150px;
      padding-left: 100px;
      background-color: #228B22;
      position: relative;
  }

  a {

      font-family: 'Bungee Inline', cursive;

  }

  h1 {
      font-family: 'Bungee Inline', cursive;

  }

  .photo {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: 0px;
      height: 800px;
  }

  #portrait {
      background
  }

  .journal-sections{
    border-bottom:dotted 0.5px black;

  }